version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: hellodevops
      MYSQL_USER: user_devops
      MYSQL_PASSWORD: user1234
    ports:
      - "3307:3306"
    volumes:
      - db:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    command:
      - --max_allowed_packet=32M
      - --innodb_log_file_size=128M
      - --innodb_file_per_table=1
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p1234"]
      interval: 10s
      timeout: 5s
      retries: 10

  backend:
    build:
      context: ../helloDevops-backend  
      dockerfile: Dockerfile
    container_name: backend
    restart: unless-stopped
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/hellodevops?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: user_devops
      SPRING_DATASOURCE_PASSWORD: user1234
      SPRING_FLYWAY_ENABLED: "false"
      SPRING_AUTOCONFIGURE_EXCLUDE: "org.springframework.boot.autoconfigure.flyway.FlywayAutoConfiguration"
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        # ให้ FE เรียกผ่าน proxy ตลอด (production-friendly)
        VITE_API_URL: /api
    container_name: frontend
    restart: unless-stopped
    ports:
      - "5173:80"
    depends_on:
      - backend

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    depends_on:
      - backend      # รอ backend ก่อน ค่อยเริ่ม Prometheus (ช่วยลด error ตอนแรก ๆ)

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus

volumes:
  db: {}
  grafana-storage: {}

# # context: ./backend -ploy
# # context: ../helloDevops-backend